/* ------------------CSS styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------Fonts */

@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Heavy';
  src: url('assets/fonts/lato/Lato-Heavy.ttf');
}

/* ------------------Common styles */

html {
  font-size: 10px;
}

body {
  font-family: 'Lato Light', Verdana, sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: 'Lato Heavy', Verdana, sans-serif;
  font-size: 3rem;
  color: #666d89;
  font-weight: 900;
  line-height: 1.8rem;
}

h3 {
  font-family: 'Lato Heavy', Verdana, sans-serif;
  font-size: 1.8rem;
  color: #666d89;
  font-weight: 900;
  line-height: 1.8rem;
}

/* ------------------Wrapper styles */

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* ------------------Header styles */

.header {
  background-color: #2d303a;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.logo {
  font-size: 2.5rem;
}

.logo span {
  color: #f06c64;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 371px;
  margin-top: 7px;
}

.nav-list__nav-item {
  cursor: pointer;
}

.nav-list__nav-item:not(:last-child)::after {
  content: "\25CF";
  color: #464952;
  font-size: 0.5rem;
  margin-left: 14px;
}

.nav-list__nav-item a {
  text-decoration: none;
  color: #ffffff;
}

.nav-list__nav-item:first-child a {
  color: #f06c64;
}

.header__bottom-line {
  background-color: #323746;
  height: 6px;
}

/* ------------------Slider styles */

.slider {
  background-color: #f06c64;
}

.slider__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 594px;
  padding-bottom: 9px;
}

.phone_vertical {
  width: 240px;
  height: 483px;
  margin-right: 18px;
}

.phone_horizontal {
  width: 483px;
  height: 240px;
}

.slider__bottom-line {
  background-color: #ea676b;
  height: 6px;
}

.ico_chevron {
  display: block;
  width: 16px;
  height: 27px;
  cursor: pointer;
}

.ico_chevron-left {
  background-image: url('assets/images/chevron-left.svg');
}

.ico_chevron-right {
  background-image: url('assets/images/chevron-right.svg');
}

/* ------------------Our Services styles */

.our-services {
  background-color: #f2f2f2;
}

.our-services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 495px;
  padding-top: 67px;
}

.our-service__description {
  width: 100%;
  font-size: 1.8rem;
  color: #767e9e;
  line-height: 3rem;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 45px;
}

.layout-3-column {
  display: flex;
  flex-flow: row wrap;
  max-width: 940px;
  height: 245px;
}

.service {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  height: 90px;
}

.service:not(:nth-child(3n)) {
  margin-right: 20px;
}

.service__description {
  width: 220px;
  height: 60px;
  margin-top: 10px;
  font-family: 'Lato Regular', Verdana, sans-serif;
  line-height: 2.2rem;
  color: #767e9e;
  font-weight: 400;
  overflow: hidden;
}

.service__icon {
  height: 100%;
  margin-right: 20px;
}

.service__icon .ico {
  display: block;
  width: 61px;
  height: 61px;
}

.ico_pen {
  background-image: url('assets/images/pen.svg');
}

.ico_bulb {
  background-image: url('assets/images/bulb.svg');
}

.ico_heart {
  background-image: url('assets/images/heart.svg');
}

.ico_phone {
  background-image: url('assets/images/phone.svg');
}

.ico_bubble {
  background-image: url('assets/images/bubble.svg');
}

.ico_star {
  background-image: url('assets/images/star.svg');
}

.our-services__bottom-line {
  background-color: #ffffff;
  height: 6px;
}
