/* ------------------CSS styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------Fonts */

@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/lato/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/lato/Lato-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/lato/Lato-Black.ttf');
  font-weight: 900;
}

/* ------------------Common styles */

html {
  font-size: 10px;
}

body {
  font-family: 'Lato Light', Verdana, sans-serif;
  font-size: 1.2rem;
  color: #767e9e;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.bottom-line {
  height: 6px;
}

h1 {
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 3rem;
  color: #666d89;
  line-height: 1.8rem;
}

h3 {
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 1.8rem;
  color: #666d89;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
}

.button {
  width: 90px;
  height: 35px;
  cursor: pointer;
  background-color: #f0d8d9;
  border-radius: 5px;
  border: 1px solid #d6564f;;
  font-family: 'Lato Bold';
  font-size: 1.4rem;
  color: #d6564f;
  transition: all 0.3s;
}

.button:hover {
  background-color: #ddc6c7;
  width: 91px;
  height: 36px;
}

.layout-2-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 940px;
}

.layout-3-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 940px;
}

.layout-4-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 940px;
}

.ico {
  display: inline-block;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 154px;
}

/* ------------------Get Quote styles */

.get-quote {
  background-color: #f06c64;
}

.get-quote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
  color: #f0d8d9;
}

.get-quote__heading,
.contact-info__heading {
  color: #f0d8d9;
}

.get-quote__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
  margin-bottom: 43px;
}

.get-quote__layout-2-column {
  padding-bottom: 14px;
}

.get-quote__form {
  flex-basis: 66%;
}

.get-quote__form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.get-quote__form input, textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  padding-left: 15px;
}

.get-quote__form input {
  height: 38px;
  margin-bottom: 16px;
}

.get-quote__form textarea {
  height: 203px;
  padding-top: 8px;
  margin-bottom: 16px;
  resize: none;
}

.get-quote__form input::placeholder, 
.get-quote__form textarea::placeholder {
  font-family: 'Lato Regular';
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f48c8f;
}

.get-quote__button {
  width: 91px;
  height: 36px;
}

.contact-info {
  flex-basis: 32%;
}

.contact-info__description {
  width: 100%;
  line-height: 2.2rem;
  margin-top: 10px;
  margin-bottom: 23px;
}

.contact-info__contact-item {
  line-height: 2.2rem;
}

.contact-info__contact-item a {
  color: #f0d8d9;
}

.contact-info .ico {
  cursor: pointer;
  margin-right: 10px;
}

.ico_location {
  background-image: url('assets/images/get_quote/location.png');
  width: 7px;
  height: 11px;
  margin-left: 6px;
}

.ico_phone {
  background-image: url('assets/images/get_quote/phone.png');
  width: 11px;
  height: 11px;
  margin-left: 2px;
}

.ico_mail {
  background-image: url('assets/images/get_quote/mail.png');
  width: 13px;
  height: 8px;
}

.get-quote__bottom-line {
  background-color: #ea676b;
}

/* ------------------Footer styles */

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  font-family: 'Lato Regular';
}

.social-media .ico {
  width: 34px;
  height: 35px;
  cursor: pointer;
}

.ico_facebook {
  background-image: url('assets/images/social_media/Facebook.svg');
}

.ico_google {
  background-image: url('assets/images/social_media/Google.svg');
}

.ico_twitter {
  background-image: url('assets/images/social_media/Twitter.svg');
}

.ico_linkedin {
  background-image: url('assets/images/social_media/LinkedIn.svg');
}
