/* ------------------CSS styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------Fonts */

@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/lato/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/lato/Lato-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/lato/Lato-Black.ttf');
  font-weight: 900;
}

/* ------------------Common styles */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato Light', Verdana, sans-serif;
  font-size: 1.2rem;
  color: #767e9e;
  
}

h1 {
  font-family: 'Lato Light';
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 3rem;
  color: #666d89;
  line-height: 1.8rem;
}

h3 {
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 1.8rem;
  color: #666d89;
  line-height: 1.8rem;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-decoration: none;
}

.bottom-line {
  height: 6px;
}

.layout-2-column,
.layout-3-column,
.layout-4-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 940px;
}

.ico {
  display: inline-block;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 154px;
}

.button_primary {
  width: 136px;
  height: 38px;
  cursor: pointer;
  background-color:  #FBC65F;
  border-radius: 5px;
  border: 0;
  font-family: 'Lato Bold';
  font-size: 1.4rem;
  color: #886A30;
  text-transform: uppercase;
  line-height: 3.8rem;
  transition: all 0.3s;
}

.button_primary:hover {
  background-color: rgb(218, 172, 81);
}

/* ------------------Modal */

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  width: 350px;
  background-color: #f0d8d9;
  border-radius: 10px;
  border: 1px solid #ccb5b6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  z-index: 4;
  animation: appear 0.3s forwards;  
}

@keyframes appear {
  from {
    width: 350px;
  }

  to {
    transform: scale(1.1)
  }
}

.get-quote__statement,
.get-quote__theme,
.get-quote__details {
  margin-bottom: 12px;
}

/* ------------------Header styles */

.header {
  position: sticky;
  top: 0px;
  background-color: #2d303a;
  z-index: 5;
  transition: 0.2s ease;
}

.header_disabled {
  top: -96px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-family: 'Lato Light';
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header__hamburger {
  display: none;
}

.nav__hamburger {
  display: none;
}

.hamburger {
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.hamburger::before,
.hamburger::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2.4px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.hamburger__line {
  display: inline-block;
  width: 100%;
  height: 2.4px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.logo span {
  color: #f06c64;
}

.nav__logo {
  display: none;
}

.header__nav {
  display: block;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 371px;
  margin-top: 7px;
}

.nav__item {
  cursor: pointer;
}

.nav__item:not(:last-child)::after {
  content: "\25CF";
  color: #464952;
  font-size: 0.5rem;
  margin-left: 14px;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__link_active {
  color: #f06c64;
}

.header__bottom-line {
  background-color: #323746;
}

/* ------------------Slider styles */

.slider_bg_pink {
  background-color: #f06c64;
}

.slider_bg_blue {
  background-color: #648bf0;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 593px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 9px;
  z-index: 1;
  animation: 0.5s ease-in-out;
}

.slide_active,
.slide_next {
  display: flex;
  align-items: center;
}

.slide_pink {
  background-color: #f06c64;
}

.slide_blue {
  background-color: #648bf0;
}

.phone_yellow {
  width: 240px;
  height: 483px;
  margin-left: 111px;
}

.phone_blue {
  width: 483px;
  height: 240px;
  margin-left: 74px;
}

.phone_green {
  width: 255px;
  height: 513px;
  margin-left: -30px;
}

.phone_disabled-left,
.phone_disabled-right {
  width: 156px;
  height: 314px;
}

.phone_disabled-left {
  margin-left: 270px;
}

.phone_disabled-right {
  margin-left: -30px;
}

.screen-overlay {
  display: none;
  position: absolute;
  background-color: #000000;
}

.screen-overlay_yellow {
  width: 189px;
  height: 335px;
  left: 125px;
  top: 115px;
}

.screen-overlay_yellow_active {
  display: block;
}

.screen-overlay_blue {
  width: 335px;
  height: 189px;
  right: 201px;
  top: 186px;
}

.screen-overlay_blue_active {
  display: block;
}

.button-overlay {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.button-overlay_yellow {
  left: 198px;
  bottom: 93px;
}

.button-overlay_blue {
  left: 434px;
  top: 260px;
}

.ico_chevron {
  display: inline-block;
  width: 16px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.ico_chevron-left {
  background-image: url('assets/images/slider/chevron-left.svg');
  left: 40px;
}

.ico_chevron-right {
  background-image: url('assets/images/slider/chevron-right.svg');
  right: 40px;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slider__bottom-line {
  background-color: #ea676b;
}

/* ------------------Our Services styles */

.our-services {
  background-color: #f2f2f2;
}

.our-services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 67px;
  padding-bottom: 30px;
}

.our-service__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 30px;
  margin-bottom: 45px;
}

.service {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  height: 123px;
}

.service__heading {
  width: 220px;
}

.service__description {
  width: 220px;
  height: 60px;
  margin-top: 10px;
  font-family: 'Lato Regular', Verdana, sans-serif;
  line-height: 2.2rem;
  text-align: justify;
  overflow: hidden;
}

.service__icon {
  height: 100%;
  margin-right: 20px;
}

.service__icon .ico {
  width: 61px;
  height: 61px;
}

.ico_pen {
  background-image: url('assets/images/services/pen.svg');
}

.ico_bulb {
  background-image: url('assets/images/services/bulb.svg');
}

.ico_heart {
  background-image: url('assets/images/services/heart.svg');
}

.ico_phone {
  background-image: url('assets/images/services/phone.svg');
}

.ico_bubble {
  background-image: url('assets/images/services/bubble.svg');
}

.ico_star {
  background-image: url('assets/images/services/star.svg');
}

.our-services__bottom-line {
  background-color: #ffffff;
}

/* ------------------Portfolio styles */

.portfolio {
  background-color: #2d303a;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 47px;
  padding-top: 70px;
}

.portfolio__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
}

.portfolio__tags {
  height: 22px;
  width: 296px;
  margin-top: 10px;
  margin-bottom: 19px;
}

.tag {
  display: inline-block;
  height: 21px;
  border: 1px solid #666d89;
  border-radius: 5px;
  font-family: 'Lato Regular';
  font-size: 1.2rem;
  padding: 0 7px;
  margin-right: 6px;
  cursor: pointer;
}

.tag:hover {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.tag_active {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.portfolio__layout-4-column:after {
  content: '';
  display: block;
  width: 220px; 
}

.portfolio__project {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
  background-size: cover;
  cursor: pointer;
}

.portfolio__project_active {
  border: 5px solid #F06C64;
}

.portfolio__project:nth-child(n+13) {
  display: none;
}

.project_1 {
  background-image: url('./assets/images/projects/project_1.png');
}

.project_2 {
  background-image: url('./assets/images/projects/project_2.png');
}

.project_3 {
  background-image: url('./assets/images/projects/project_3.png');
}

.project_4 {
  background-image: url('./assets/images/projects/project_4.png');
}

.project_5 {
  background-image: url('./assets/images/projects/project_5.png');
}

.project_6 {
  background-image: url('./assets/images/projects/project_6.png');
}

.project_7 {
  background-image: url('./assets/images/projects/project_7.png');
}

.project_8 {
  background-image: url('./assets/images/projects/project_8.png');
}

.project_9 {
  background-image: url('./assets/images/projects/project_9.png');
}

.project_10 {
  background-image: url('./assets/images/projects/project_10.png');
}

.project_11 {
  background-image: url('./assets/images/projects/project_11.png');
}

.project_12 {
  background-image: url('./assets/images/projects/project_12.png');
}

.portfolio__bottom-line {
  background-color: #323746;
}

/* ------------------About us styles */

.about-us {
  background-color: #f2f2f2;
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
  padding-bottom: 65px;
}

.about-us__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
  margin-bottom: 24px;
}

.employee {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 20px;
}

.employee__photo {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-bottom: 18px;
}

.employee__name {
  display: inline-block;
  margin-bottom: 10px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee__about {
  font-family: 'Lato Regular';
  line-height: 2.2rem;
  text-align: justify;
  margin-bottom: 20px;
}

.social-media .ico {
  width: 34px;
  height: 35px;
  cursor: pointer;
}

.ico_facebook {
  background-image: url('assets/images/social_media/Facebook.svg');
}

.ico_google {
  background-image: url('assets/images/social_media/Google.svg');
}

.ico_twitter {
  background-image: url('assets/images/social_media/Twitter.svg');
}

.ico_linkedin {
  background-image: url('assets/images/social_media/LinkedIn.svg');
}

.about-us__bottom-line {
  background-color: #ffffff;
}

/* ------------------Get Quote styles */

.get-quote {
  background-color: #f06c64;
}

.get-quote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
  padding-bottom: 30px;
  color: #f0d8d9;
}

.get-quote__heading,
.contact-info__heading {
  color: #f0d8d9;
}

.get-quote__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
  margin-bottom: 44px;
}

.get-quote__form {
  flex-basis: 66%;
}

.get-quote__form input, textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  padding-left: 15px;
  font-size: 1.8rem;
  color: #f0d8d9;
  margin-bottom: 16px;
}

.get-quote__form input {
  height: 38px;
}

.get-quote__form textarea {
  height: 203px;
  padding-top: 8px;
  resize: none;
}

.get-quote__form input::placeholder, 
.get-quote__form textarea::placeholder {
  font-family: 'Lato Regular';
  font-size: 1.2rem;
  color: #f48c8f;
}

.contact-info {
  flex-basis: 32%;
}

.contact-info__description {
  width: 100%;
  line-height: 2.2rem;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 23px;
}

.contact-info__contact-item {
  line-height: 2.2rem;
}

.contact-info__contact-item a {
  color: #f0d8d9;
}

.contact-info .ico {
  cursor: pointer;
  margin-right: 10px;
}

.ico_location {
  background-image: url('assets/images/get_quote/location.png');
  width: 7px;
  height: 11px;
  margin-left: 4px;
}

.ico_call {
  background-image: url('assets/images/get_quote/call.png');
  width: 11px;
  height: 11px;
  margin-left: 2px;
}

.ico_mail {
  background-image: url('assets/images/get_quote/mail.png');
  width: 13px;
  height: 8px;
}

.get-quote__bottom-line {
  background-color: #ea676b;
}

/* ------------------Footer styles */

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  font-family: 'Lato Regular';
}


/* ------------------Media 1019px */
@media screen and (max-width: 1019px) {

  .layout-2-column,
  .layout-3-column,
  .layout-4-column {
    width: 689px;
  }

  .wrapper {
    max-width: 768px;
  }

  .slider__wrapper {
    height: 445px;
  }

  .ico_chevron-left {
    left: 28px;
  }
  
  .ico_chevron-right {
    right: 28px;
  }

  .phone_yellow {
    width: 180px;
    height: 364px;
    margin-left: 97px;
  }
  
  .phone_blue {
    width: 364px;
    height: 180px;
    margin-left: 35px;
  }
  
  .phone_green {
    width: 180px;
    height: 364px;
  }
  
  .phone_disabled-left,
  .phone_disabled-right {
    width: 126px;
    height: 255px;
  }
  
  .phone_disabled-left {
    margin-left: 205px;
  }

  .phone_disabled-right {
    margin-left: -25px;
  }

  .button-overlay {
    width: 35px;
    height: 35px;
  }

  .screen-overlay_yellow {
    width: 142px;
    height: 252px;
    left: 107px;
    top: 85px;
  }

  .button-overlay_yellow {
    left: 160px;
    bottom: 70px;
  }

  .screen-overlay_blue {
    width: 252px;
    height: 142px;
    right: 160px;
    top: 138px;
  }

  .button-overlay_blue {
    left: 316px;
    top: 192px;
  }

  .our-services__wrapper {
    padding-top: 49px;
    padding-bottom: 14px;
  }

  .our-service__description {
    margin-top: 28px;
    margin-bottom: 35px;
  }

  .our-services__layout-3-column {
    width: 654px;
  }

  .service {
    height: 145px;
  }

  .portfolio__tags {
    margin-top: 12px;
    margin-bottom: 27px;
  }

  .portfolio__project {
    width: 217px;
    height: 184px;
  }

  .about-us__wrapper {
    padding-top: 60px;
  }

  .about-us__description {
    margin-bottom: 20px;
  }

  .employee {
    width: 219px;
  }

  .employee__photo {
    width: 219px;
    height: 219px;
    margin-bottom: 13px;
  }
  
  .employee__name {
    margin-bottom: 3px;
  }

  .employee__about {
    margin-bottom: 10px;
  }

  .get-quote__wrapper {
    padding-top: 65px;
    padding-bottom: 38px;
  }

  .get-quote__description {
    margin-bottom: 25px;
  }

  .get-quote__form {
    flex-basis: 64%;
  }

  .get-quote__form input, textarea {
    margin-bottom: 12px;
  }

  .get-quote__form textarea {
    height: 160px;
  }

  .contact-info__description {
    margin-top: 4px;
    margin-bottom: 12px;
  }

}

/* ------------------Media 767px */
@media screen and (max-width: 767px) {

  h1 {
    font-family: 'Lato Light';
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
  }
  
  .button_primary {
    width: 100%;
    height: 50px;
  }  

  .wrapper {
    max-width: 375px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .layout-2-column,
  .layout-3-column,
  .layout-4-column {
    width: 315px;
  }

  .modal {
    width: 260px;
  }
  
  @keyframes appear {
    from {
      width: 260px;
    }
  
    to {
      transform: scale(1.1)
    }
  }

  .header__wrapper {
    height: 64px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .header__wrapper::after {
    content: '';
    width: 25px;
  }

  .header__hamburger  {
    display: inline-flex;
  }

  .header__nav {
    height: 100vh;
    width: 278px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease;
  }

  .header__nav_disabled {
    top: 0;
    left: -290px;
  }

  .nav__hamburger {
    display: inline-flex;
    position: absolute;
    top: 22px;
    left: 20px;
    transition: 0.4s ease forwards;
  }

  .rotation-forward {
    animation: rotation 0.7s forwards 0.1s;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
    }
  }

  .nav__logo {
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 75px;
  }

  .nav__list {
    flex-direction: column;
    width: 150px;
    height: 245px;
    margin-top: 210px;
    margin-left: 70px;
    font-family: 'Lato Regular';
    font-size: 2.4rem;
  }

  .nav__item:not(:last-child)::after {
    display: none;
  }

  .slider__wrapper {
    height: 214px;
  }
  
  .phone_yellow {
    width: 89px;
    height: 177px;
    margin-left: 40px;
  }

  .phone_blue {
    width: 178px;
    height: 89px;
    margin-left: 26px;
  }
  
  .phone_green {
    width: 89px;
    height: 177px;
    margin-left: -20px;
  }
  
  .phone_disabled-left,
  .phone_disabled-right {
    width: 75px;
    height: 145px;
  }
  
  .phone_disabled-left {
    margin-left: 87px;
  }

  .phone_disabled-right {
    margin-left: -13px;
  }

  .button-overlay {
    width: 17px;
    height: 17px;
  }

  .button-overlay_yellow {
    left: 71px;
    bottom: 34px;
  }

  .button-overlay_blue {
    left: 157px;
    top: 90px;
  }

  .screen-overlay_yellow {
    width: 71px;
    height: 122px;
    left: 45px;
    top: 38px;
  }

  .screen-overlay_blue {
    width: 124px;
    height: 70px;
    right: 75px;
    top: 63px;
  }

  .ico_chevron-left {
    left: 8px;
  }
  
  .ico_chevron-right {
    right: 8px;
  }

  .our-services__wrapper {
    padding-top: 36px;
    padding-bottom: 0px;
  }

  .our-service__description {
    margin-bottom: 30px;
  }

  .service {
    height: 119px;
  }

  .portfolio__wrapper {
    padding-top: 47px;
    padding-bottom: 21px;
  }

  .portfolio__tags {
    margin-top: 17px;
    margin-bottom: 24px;
  }

  .portfolio__project {
    width: 151px;
    height: 128px;
    margin-bottom: 14px;
  }

  .portfolio__project:nth-child(n+9) {
    display: none;
  }

  .about-us__wrapper {
    padding-top: 44px;
    padding-bottom: 26px;
  }

  .about-us__description {
    margin-bottom: 6px;
  }

  .employee {
    width: 314px;
    margin-bottom: 12px;
  }

  .employee__photo {
    width: 314px;
    height: 314px;
    margin-bottom: 19px;
  }

  .get-quote__wrapper {
    padding-top: 55px;
    padding-bottom: 42px;
  }

  .get-quote__form {
    flex-basis: 100%;
    margin-bottom: 28px;
  }

  .contact-info {
    flex-basis: 100%;
  }

  .footer__wrapper {
    justify-content: center;
  }

  .footer__copyright {
    display: none;
  }

}

/* ------------------Media 374px */
@media screen and (max-width: 374px) {

  .wrapper {
    max-width: 320px;
    padding-left: 3px;
    padding-right: 2px;
  }

  .phone_yellow {
    margin-left: 23px;
  }

  .phone_blue {
    margin-left: 9px;
  }
  
  .phone_disabled-left {
    margin-left: 60px;
  }

  .button-overlay_yellow {
    left: 54px;
  }

  .button-overlay_blue {
    left: 123px;
  }

  .screen-overlay_yellow {
    left: 28px;
  }

  .screen-overlay_blue {
    right: 54px;
  }

  .ico_chevron-left {
    left: 3px;
  }
  
  .ico_chevron-right {
    right: 3px;
  }
}
