/* ------------------CSS styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------Fonts */

@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/lato/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/lato/Lato-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/lato/Lato-Black.ttf');
  font-weight: 900;
}

/* ------------------Common styles */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato Light', Verdana, sans-serif;
  font-size: 1.2rem;
  color: #767e9e;
  
}

h1 {
  font-family: 'Lato Light';
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 3rem;
  color: #666d89;
  line-height: 1.8rem;
}

h3 {
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 1.8rem;
  color: #666d89;
  line-height: 1.8rem;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-decoration: none;
}

.bottom-line {
  height: 6px;
}

.layout-2-column,
.layout-3-column,
.layout-4-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 940px;
}

.ico {
  display: inline-block;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 154px;
}

.button_primary {
  width: 90px;
  height: 35px;
  cursor: pointer;
  background-color: #d6564f;
  border-radius: 5px;
  border: 0;
  font-family: 'Lato Bold';
  font-size: 1.4rem;
  color: #f0d8d9;
  transition: all 0.3s;
}

.button_primary:hover {
  background-color: #b94a44;
}

/* ------------------Modal */

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 350px;
  background-color: #f0d8d9;
  border-radius: 10px;
  border: 1px solid #ccb5b6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  animation: appear 0.3s forwards;  
}

@keyframes appear {
  from {
    width: 350px;
  }

  to {
    transform: scale(1.1)
  }
}

.get-quote__statement,
.get-quote__theme,
.get-quote__details {
  margin-bottom: 12px;
}

/* ------------------Header styles */

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #2d303a;
  transition: 0.2s ease;
  z-index: 3;
}

.header_disabled {
  top: -96px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-family: 'Lato Light';
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.logo span {
  color: #f06c64;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 371px;
  margin-top: 7px;
}

.nav-list__nav-item {
  cursor: pointer;
}

.nav-list__nav-item:not(:last-child)::after {
  content: "\25CF";
  color: #464952;
  font-size: 0.5rem;
  margin-left: 14px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-link_active {
  color: #f06c64;
}

.header__bottom-line {
  background-color: #323746;
}

/* ------------------Slider styles */

.slider {
  padding-top: 96px;
}

.slider_bg_pink {
  background-color: #f06c64;
}

.slider_bg_blue {
  background-color: #648bf0;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 593px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 9px;
  z-index: 1;
  animation: 0.5s ease-in-out;
}

.slide_active,
.slide_next {
  display: flex;
  align-items: center;
}

.slide_pink {
  background-color: #f06c64;
}

.slide_blue {
  background-color: #648bf0;
}

.phone_yellow {
  width: 240px;
  height: 483px;
  margin-left: 111px;
}

.phone_blue {
  width: 483px;
  height: 240px;
  margin-left: 74px;
}

.phone_green {
  width: 255px;
  height: 513px;
  margin-left: -30px;
}

.screen-overlay {
  display: none;
  position: absolute;
  background-color: #000000;
}

.screen-overlay_yellow {
  width: 189px;
  height: 335px;
  left: 125px;
  top: 115px;
}

.screen-overlay_yellow_active {
  display: block;
}

.screen-overlay_blue {
  width: 335px;
  height: 189px;
  right: 201px;
  top: 186px;
}

.screen-overlay_blue_active {
  display: block;
}

.button-overlay {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.button-overlay_yellow {
  left: 198px;
  bottom: 93px;
}

.button-overlay_blue {
  left: 434px;
  top: 260px;
}

.phone_disabled-left,
.phone_disabled-right {
  width: 156px;
  height: 314px;
}

.phone_disabled-left {
  margin-left: 270px;
}

.phone_disabled-right {
  margin-left: -30px;
}

.ico_chevron {
  display: inline-block;
  width: 16px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.ico_chevron-left {
  background-image: url('assets/images/slider/chevron-left.svg');
  left: 40px;
}

.ico_chevron-right {
  background-image: url('assets/images/slider/chevron-right.svg');
  right: 40px;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slider__bottom-line {
  background-color: #ea676b;
}

/* ------------------Our Services styles */

.our-services {
  background-color: #f2f2f2;
}

.our-services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 494px;
  padding-top: 67px;
}

.our-service__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 30px;
  margin-bottom: 45px;
}

.our-services__layout-3-column {
  height: 245px;
}

.service {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  height: 90px;
}

.service__description {
  width: 220px;
  height: 60px;
  margin-top: 10px;
  font-family: 'Lato Regular', Verdana, sans-serif;
  line-height: 2.2rem;
  text-align: justify;
  overflow: hidden;
}

.service__icon {
  height: 100%;
  margin-right: 20px;
}

.service__icon .ico {
  width: 61px;
  height: 61px;
}

.ico_pen {
  background-image: url('assets/images/services/pen.svg');
}

.ico_bulb {
  background-image: url('assets/images/services/bulb.svg');
}

.ico_heart {
  background-image: url('assets/images/services/heart.svg');
}

.ico_phone {
  background-image: url('assets/images/services/phone.svg');
}

.ico_bubble {
  background-image: url('assets/images/services/bubble.svg');
}

.ico_star {
  background-image: url('assets/images/services/star.svg');
}

.our-services__bottom-line {
  background-color: #ffffff;
}

/* ------------------Portfolio styles */

.portfolio {
  background-color: #2d303a;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 47px;
  padding-top: 70px;
}

.portfolio__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
}

.portfolio__tags {
  height: 22px;
  width: 296px;
  margin-top: 10px;
  margin-bottom: 19px;
}

.tag {
  display: inline-block;
  height: 21px;
  border: 1px solid #666d89;
  border-radius: 5px;
  font-family: 'Lato Regular';
  font-size: 1.2rem;
  padding: 0 7px;
  margin-right: 6px;
  cursor: pointer;
}

.tag:hover {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.tag_active {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.portfolio__layout-4-column:after {
  content: '';
  display: block;
  width: 220px; 
}

.portfolio__project {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
  background-size: cover;
  cursor: pointer;
}

.portfolio__project_active {
  border: 5px solid #F06C64;
}

.portfolio__project:nth-child(n+13) {
  display: none;
}

.project_1 {
  background-image: url('./assets/images/projects/project_1.png');
}

.project_2 {
  background-image: url('./assets/images/projects/project_2.png');
}

.project_3 {
  background-image: url('./assets/images/projects/project_3.png');
}

.project_4 {
  background-image: url('./assets/images/projects/project_4.png');
}

.project_5 {
  background-image: url('./assets/images/projects/project_5.png');
}

.project_6 {
  background-image: url('./assets/images/projects/project_6.png');
}

.project_7 {
  background-image: url('./assets/images/projects/project_7.png');
}

.project_8 {
  background-image: url('./assets/images/projects/project_8.png');
}

.project_9 {
  background-image: url('./assets/images/projects/project_9.png');
}

.project_10 {
  background-image: url('./assets/images/projects/project_10.png');
}

.project_11 {
  background-image: url('./assets/images/projects/project_11.png');
}

.project_12 {
  background-image: url('./assets/images/projects/project_12.png');
}

.portfolio__bottom-line {
  background-color: #323746;
}

/* ------------------About us styles */

.about-us {
  background-color: #f2f2f2;
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
  height: 727px;
}

.about-us__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
  margin-bottom: 24px;
}

.employee {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 20px;
}

.employee__photo {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-bottom: 18px;
}

.employee__name {
  display: inline-block;
  margin-bottom: 10px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee__about {
  font-family: 'Lato Regular';
  line-height: 2.2rem;
  text-align: justify;
  margin-bottom: 20px;
}

.social-media .ico {
  width: 34px;
  height: 35px;
  cursor: pointer;
}

.ico_facebook {
  background-image: url('assets/images/social_media/Facebook.svg');
}

.ico_google {
  background-image: url('assets/images/social_media/Google.svg');
}

.ico_twitter {
  background-image: url('assets/images/social_media/Twitter.svg');
}

.ico_linkedin {
  background-image: url('assets/images/social_media/LinkedIn.svg');
}

.about-us__bottom-line {
  background-color: #ffffff;
}

/* ------------------Get Quote styles */

.get-quote {
  background-color: #f06c64;
}

.get-quote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
  color: #f0d8d9;
}

.get-quote__heading,
.contact-info__heading {
  color: #f0d8d9;
}

.get-quote__description {
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 27px;
  margin-bottom: 44px;
}

.get-quote__layout-2-column {
  padding-bottom: 14px;
}

.get-quote__form {
  flex-basis: 66%;
}

.get-quote__form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.get-quote__form input, textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  padding-left: 15px;
  font-size: 1.8rem;
  color: #f0d8d9;
}

.get-quote__form input {
  height: 38px;
  margin-bottom: 16px;
}

.get-quote__form textarea {
  height: 203px;
  padding-top: 8px;
  margin-bottom: 16px;
  resize: none;
}

.get-quote__form input::placeholder, 
.get-quote__form textarea::placeholder {
  font-family: 'Lato Regular';
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f48c8f;
}

.get-quote__button {
  width: 91px;
  height: 36px;
}

.contact-info {
  flex-basis: 32%;
}

.contact-info__description {
  width: 100%;
  line-height: 2.2rem;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 23px;
}

.contact-info__contact-item {
  line-height: 2.2rem;
}

.contact-info__contact-item a {
  color: #f0d8d9;
}

.contact-info .ico {
  cursor: pointer;
  margin-right: 10px;
}

.ico_location {
  background-image: url('assets/images/get_quote/location.png');
  width: 7px;
  height: 11px;
  margin-left: 4px;
}

.ico_call {
  background-image: url('assets/images/get_quote/call.png');
  width: 11px;
  height: 11px;
  margin-left: 2px;
}

.ico_mail {
  background-image: url('assets/images/get_quote/mail.png');
  width: 13px;
  height: 8px;
}

.get-quote__bottom-line {
  background-color: #ea676b;
}

/* ------------------Footer styles */

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  font-family: 'Lato Regular';
}
